langchain~=0.3.27
openai
chromadb
pymupdf
tqdm
python-dotenv~=1.1.1
requests~=2.32.4
PyMuPDF
fitz~=0.0.1.dev2
langchain-openai~=0.3.29
pathlib~=1.0.1
langchain-community~=0.3.27
sentence-transformers
langchain-huggingface
faiss-cpu
ctransformers